---
import ProjectLayout from '../ProjectLayout.astro';
import Calculator from "../../components/Projects/Calculator/Calculator.jsx";

const { content } = Astro.props;
---

<ProjectLayout projectTitle={content.title}>
  <div class="flex w-full h-full justify-center px-5 my-32 lg:px-0">
    <div id="calculator" class="w-full max-w-[300px] rounded-xl shadow-2xl text-gray-50 overflow-hidden mx-auto">
      <Calculator client:visible="react"></Calculator>
    </div>
  </div>
</ProjectLayout>