---
import ProjectLayout from '../ProjectLayout.astro';
import Calculator from "../../components/Projects/Calculator/Calculator.jsx";
import { getLanguageFromURL } from '../../utils/languages';

const { pathname } = Astro.request.url;
const lang = pathname && getLanguageFromURL(pathname);
const { content } = Astro.props;

const i18n = {
    en: {
        SEO: {
            title: content.title,
            description: "Calculator app.",
        }
    },
    ja: {
        SEO: {
            title: content.title,
        }
    }
}
---
<ProjectLayout lang={lang} projectInfo={i18n[lang].SEO}>
  <div class="flex w-full h-full justify-center px-5 mt-32 mb-60 lg:px-0">
    <div id="calculator" class="w-full max-w-[300px] rounded-xl shadow-2xl text-gray-50 overflow-hidden mx-auto">
      <Calculator client:visible="react"></Calculator>
    </div>
  </div>
</ProjectLayout>