---
import ProjectLayout from '../ProjectLayout.astro';
import RandomQuote from '../../components/Projects/RandomQuote/RandomQuote.svelte';
import { getLanguageFromURL } from '../../utils/languages';

const { pathname } = Astro.request.url;
const lang = pathname && getLanguageFromURL(pathname);
const { content } = Astro.props;

const i18n = {
    en: {
        SEO: {
            title: content.title,
            description: "Random quote machine app.",
        }
    },
    ja: {
        SEO: {
            title: content.title,
        }
    }
}
---
<ProjectLayout lang={lang} projectInfo={i18n[lang].SEO}>
	<section id="quote-section" class="body-font flex w-full h-full justify-center mt-20 mb-60 lg:px-0">
			<RandomQuote client:visible="svelte" />
	</section>
</ProjectLayout>