---
import FCCProjectsLayout from '../layouts/FCCProjectsLayout.astro'
import DrumMachine from "../components/DrumMachine/DrumMachine.svelte";

const MainHeadProps = {
	title: 'Drum Machine - freeCodeCamp Project',
}
---
<FCCProjectsLayout { MainHeadProps }>
  <div data-theme="cyberpunk" id="drum-machine" class="h-screen flex flex-col w-full rounded-t-xl overflow-hidden bg-gradient-to-r from-blue-50 to-blue-100 bg-white p-8">
      <h1 class="text-6xl capitalize text-center leading-loose w-full mb-20">Astro + Svelte Drum Machine</h1>
      <div class="px-56 w-full">
        <DrumMachine client:only="svelte" />
      </div>
  </div>
</FCCProjectsLayout>