---
import BaseLayout from '../layouts/BaseLayout.astro'

const headTitle = 'Random quote generator - freeCodeCamp Project';
---

<BaseLayout headTitle={headTitle}>
<h1 class="text-blue-400">Hello</h1>
</BaseLayout>