---
---

<div class="w-full h-full p-10 card bg-base-200 rounded-none">
    <div class="border mockup-window border-base-300">
        <div class="h-full p-8 border-t border-base-300 bg-white overflow-y-auto">
            <div id="preview"></div>
        </div>
    </div>
    <div class="form-control mt-6">
        <label class="font-bold text-gray-500 uppercase tracking-wider" for="editor">Editor</label>
        <textarea id="editor" class="textarea h-56 focus:textarea-info shadow" placeholder="# Enter your markdown!"></textarea>
    </div>
</div>