---
import Icon from './Icon.astro'

const year = new Date().getFullYear()

---

<footer class="absolute bottom-0 w-full text-neutral body-font">
  <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
    <p class="text-sm text-gray-500 sm:mt-0 mt-4">© {year} Vin E. R. Yap. All rights reserved. 
    </p>
    <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center items-center sm:justify-start">
      <a href="https://www.freecodecamp.org/vineryap" rel="external" target="_blank" class="text-gray-500">
        <Icon uri="simple-icons:freecodecamp" className="w-6 h-6 fill-current"/>
      </a>
      <a href="" rel="external" target="_blank" class="ml-3 text-gray-500">
        <Icon uri="simple-icons:github" className="w-6 h-6 fill-current"/>
      </a>
    </span>
  </div>
</footer>