---
import NavbarLayout from "../layouts/NavbarLayout.astro";
---

<NavbarLayout>
  <a href="/freecodecamp-projects" class="btn btn-ghost btn-sm rounded-btn">freeCodeCamp Projects</a>
</NavbarLayout>
