---
const { headerContent } = Astro.props;

---
<style>
/* #subheading::before {
    @apply content-[''] h-0.5 bg-neutral-focus w-full block mb-2;
} */
</style>

<section id={headerContent.section} class="max-w-4xl min-h-[90vh] flex items-center mx-auto ">
    <div class="container flex flex-col items-center md:flex-row">
        <div class="flex flex-col items-start mb-16 text-left lg:flex-grow md:mb-0">
            <h5 class="mb-4 text-xs font-semibold tracking-widest text-neutral uppercase title-font">
                {headerContent.eyebrow}
            </h5>
            <h1 id="heading" class="mb-4 text-4xl font-extrabold text-black md:text-5xl title-font capitalize">
                {headerContent.heading}
            </h1>
            <h3 id="subheading" class="w-full max-w-xl text-2xl text-right text-secondary-focus font-medium">
                <span class="text-base text-neutral">I'm a </span>
                {headerContent.subheading}
            </h3>
            
        </div>
    </div>
</section>