---
import FCCProjectsLayout from '$layouts/FCCProjectsLayout.astro'
import AstroMdPreviewer from '$components/Markdown/MdPreviewer.astro'
import ReactMdPreviewer from '../../components/Markdown/MdPreviewerReact.jsx'
import SvelteMdPreviewer from '../../components/Markdown/MdPreviewer.svelte'
import VueMdPreviewer from '../../components/Markdown/MdPreviewer.vue'
import PreactMdPreviewer from '../../components/Markdown/MdPreviewer.jsx'
import 'prismjs/themes/prism.css'

const customCSS = '../styles/markdown.css'
let customScript;

export async function getStaticPaths() {
  return [
    { params: { renderer: 'astro' } },
    { params: { renderer: 'react' } },
    { params: { renderer: 'svelte' } },
    { params: { renderer: 'vue' } },
    { params: { renderer: 'preact' } }
  ];
}
const { renderer } = Astro.request.params;
if (renderer === 'astro') {
    customScript = {src: '../components/Markdown/mdpreviewer.js'};
}

const MainHeadProps = {
	title: 'Markdown Previewer - freeCodeCamp Project',
    customCSS,
    customScript,
}
---

<FCCProjectsLayout { MainHeadProps }>
    <div id="mdpreviewer" class="w-full h-screen">
      { renderer === 'astro' && <AstroMdPreviewer /> }
      { renderer === 'react' && <ReactMdPreviewer client:only="react" /> }
      { renderer === 'svelte' && <SvelteMdPreviewer client:only="svelte" /> }
      { renderer === 'vue' && <VueMdPreviewer client:only="vue" /> }
      { renderer === 'preact' && <PreactMdPreviewer client:only="preact" /> }
    </div>
</FCCProjectsLayout>