---
import Layout from '../../../layouts/ProjectLayout.astro';
import Icon from '../../../components/Icon.astro'
import ReactMdPreviewer from '../../../components/Projects/MarkdownPreviewer/MdPreviewerReact.jsx';
import SvelteMdPreviewer from '../../../components/Projects/MarkdownPreviewer/MdPreviewer.svelte';
import VueMdPreviewer from '../../../components/Projects/MarkdownPreviewer/MdPreviewer.vue';
import PreactMdPreviewer from '../../../components/Projects/MarkdownPreviewer/MdPreviewerPreact.jsx';
import SolidMdPreviewer from '../../../components/Projects/MarkdownPreviewer/MdPreviewerSolid.jsx';
import '../../../styles/markdown.css';
import 'prismjs/themes/prism.css';
import { dirname } from 'node:path';

export async function getStaticPaths() {
  return [
    { params: { renderer: 'react' } },
    { params: { renderer: 'svelte' } },
    { params: { renderer: 'vue-js' } },
    { params: { renderer: 'preact' } },
    { params: { renderer: 'solid-js' } }
  ];
}
const { renderer } = Astro.request.params;

let title = "";

switch (renderer) {
  case 'react':
    title = "React Markdown Previewer"
    break;
  case 'svelte':
    title = "Svelte Markdown Previewer"
    break;
  case 'vue-js':
    title = "Vue.js Markdown Previewer"
    break;
  case 'preact':
    title = "Preact Markdown Previewer"
    break;
  case 'solid-js':
    title = "Solid JS Markdown Previewer"
    break;
  default:
    title = "";
    break;
}

const links = [
  {
    label: 'Back',
    path: dirname(Astro.request.url.pathname)
  }
]

const breadcrumbs = [
  {
    label: 'Home',
    path: '/'
  },
  {
    label: 'Markdown Previewer',
    path: '/project/markdown-previewer'
  },
  {
    label: title,
    path: null
  }
]

const projectInfo = {
  title: title,
  url: Astro.request.url.href,
};
---

<Layout projectInfo={projectInfo}>
  <div class="container block px-5 md:px-8 w-full lg:px-20 my-20 md:mb-30 text-sm">
    <div class="text-sm breadcrumbs">
      <ul>
      {
        breadcrumbs.map((crumb, index) => (
            <li key={index}>
              <a href={crumb.path ? crumb.path : '#'}>{crumb.label}</a>
            </li> 
          ))
      }
      </ul>
    </div>

    { renderer === 'react' && <ReactMdPreviewer client:load="react"/> }
    { renderer === 'svelte' && <SvelteMdPreviewer client:load="svelte"/> }
    { renderer === 'vue-js' && <VueMdPreviewer client:load="vue"/> }
    { renderer === 'preact' && <PreactMdPreviewer client:load="preact"/> }
    { renderer === 'solid-js' && <SolidMdPreviewer client:load="solid"/> }

    <a href="https://www.markdownguide.org/" rel="external" target="_blank" class="link text-primary-focus inline-flex items-center">What is markdown?<Icon uri="ei:external-link" className="w-5 h-5 opacity-70"/></a>
    <ul class="md:flex items-center md:space-x-4 mt-4 md:mt-2">
      <p class="font-medium">Learn Markdown:</p>
      <li>
       <a class="link text-primary-focus inline-flex items-center" href="https://www.markdownguide.org/getting-started/" rel="external noreferrer" target="_blank">Markdown Guide <Icon uri="ei:external-link" className="w-5 h-5 opacity-70"/></a>
      </li>
      <li>
       <a class="link text-primary-focus inline-flex items-center" href="https://guides.github.com/features/mastering-markdown/" rel="external noreferrer" target="_blank">Mastering Markdown <Icon uri="ei:external-link" className="w-5 h-5 opacity-70"/></a>
      </li>
      <li>
       <a class="link text-primary-focus inline-flex items-center" href="https://www.markdowntutorial.com/" rel="external noreferrer" target="_blank">Markdown Tutorial <Icon uri="ei:external-link" className="w-5 h-5 opacity-70"/></a>
      </li>
    </ul>
  </div>
</Layout>