---
import MainHead from '../components/MainHead.astro'

const { MainHeadProps, lang = 'en' } = Astro.props;
---

<!DOCTYPE html>
<html lang={lang}>
    <head>
        <MainHead { ...MainHeadProps } />
        <script type="module" src={Astro.resolve('../scripts/scroll-handler.js')}></script>
    </head>
    <body>
        <slot />
    </body>
</html>