---
import MainHead from '../components/MainHead.astro'

export interface Props {
    mainHeadContent: MainHeadProps
}

interface MainHeadProps {
  title: string;
  description: string;
  image?: string;
  type?: string;
  next?: string;
  prev?: string;
  canonicalURL?: string;
  customCSS?: string;
}

const { mainHeadContent } = Astro.props as Props
---
<html lang="en">
    <head>
        <MainHead { ...mainHeadContent } />
    </head>
    <body>
        <slot />
    </body>
</html>