---
import MainHead from '../components/MainHead.astro'

const { MainHeadProps, lang = 'en' } = Astro.props;
---

<!DOCTYPE html>
<html lang={lang}>
    <head>
        <MainHead { ...MainHeadProps } />
    </head>
    <body>
        <slot />
    </body>
</html>