---

---

<div class="navbar shadow-lg bg-neutral text-neutral-content">
  <div class="px-2 mx-2 navbar-start">
  </div> 
  <div class="hidden px-2 mx-2 navbar-center lg:flex">
    <nav class="flex items-stretch">
      <a href="/" class="btn btn-ghost btn-sm rounded-btn">Home</a>
      <slot/>
    </nav>
  </div> 
  <div class="navbar-end">
  </div>
</div>